body{

background-repeat:repeat;
overflow:hidden;
}

#box{
height:500px;
width:800px;
border: solid white 1px;
overflow:scroll;
margin-left:250px;
overflow:scroll;
}
#scroll{
color:white;
text-align:center;
font-size:15px;
margin-top:-60px;
}
#WORK
{
color:white;
text-align:center;
font-size:22px;
}

#boxinside
{
height:1500px;
margin-top:-109px;
width:780px;
border-bottom:0px;
}
#about
{color:white;
text-align:left;
padding-left:20px;
word-spacing:2px;
font-size:30px;
font-family:Brush Script MT;
margin-top:10px;
}

h3{
color:white;
text-align:center;
font-size:80px;
font-family:Brush Script MT;
font-style:italic;
}

#img{
width:800px;
height:480px;
}

#button{
height:60px;
width:200px;
align:center;
border-radius:30px;
border:solid 2px white;
background-color:#66cccc;
margin-left:580px;
font-size:17px;
color:white;
font-weight:bold;
}
#button1{
height:50px;
width:50px;
align:center;
border-radius:30px;
border:solid 2px white;
background-color:#66cccc;
margin-left:500px;
margin-top:70px;
font-size:17px;
color:white;

}
#button2{
height:50px;
width:50px;
align:center;
border-radius:30px;
border:solid 2px white;
background-color:#66cccc;
margin-left:800px;
font-size:17px;
color:white;
}